header img {
  width: 100px;
  height: 100px;
}

.header {
  grid-area: h;
/* background: -webkit-linear-gradient(to right, #4143453b, #232526); 
background: linear-gradient(to right, #4143453a, #23252649); */


}