ul {
  margin: 0;
  padding: 0;
}

.nav{
  background: rgb(94, 94, 94);
  grid-area: n;
  padding: 20px;
}

.item {
  list-style: none;
}

.item  a{
  color: antiquewhite;
  text-decoration: none;
}

.item a:focus, 
.item a:hover {
  color: coral;
  transition: 0.3s;
}

