.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs__item {
  padding: 10px;
}

.item a {
  text-decoration: none;
    color: cornsilk;
    transition: 0.5s
}

.item a:hover,
.item a:focus {
  color: coral;
  transition: 0.5s
}

.item {
  padding: 10px;
}

.item .active {
  color: coral;
}

.messages {
 padding: 10px;
}

.dialog {
  padding: 10px;
  color: blanchedalmond;
}